[package]
name = "minimalos_kernel"
version = "0.1.0"
edition = "2021"

[dependencies]
limine = "0.3"
x86_64 = "0.15"
spin = "0.9"
klog = { path = "../crates/klog" }
kdisplay = { path = "../crates/kdisplay" }
