[build]
target = "build/target-kernel.json"

[unstable]
build-std = ["core", "alloc"]
build-std-features = ["compiler-builtins-mem"]

[target.'cfg(target_os = "none")']
rustflags = [
	"-C", "relocation-model=static",
]
